ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
  padding: 20px;
  
}

a:link{
  text-decoration: none;
  
}

a:visited{
  color: aliceblue;
}

a:hover{
  color: aqua;
}

nav{
  background-image: linear-gradient(to right,rgb(219, 219, 126) 10%, rgb(8, 37, 8) 60%);;
}

body{
  background-color: cornsilk;
}


