        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            border-width: 10px;
        }
        
        .container {
            align-items: center;
            box-sizing: border-box;
        }
        
        .calc {
            text-align: center;
            margin-top: 30px;
        }
        
        .screen {
            grid-row: span 2;
            margin-bottom: -50px;
        }
        
        table {
            font-size: 50px;
            width: 30vh;
            text-align: center;
            margin-left: 88vh;
        }