.App {
  text-align: center;
  margin: 0 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatContainer{
width: 600px;
height: 350px;
display: flex;
flex-direction: column;
border: 1px solid gold;
}


.chatContainer .messages{
  flex: 80%;
  width: 100%;
  background-color: rgb(46, 45, 45);
  color:#fff;
}

.chatContainer .messageInputs{
  flex: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chatContainer .messageInputs input{
  flex:80% ;
  height: calc(100% -5px);
}

.chatContainer .messageInputs button{
flex:20% ;
height: 100%;
}