<link rel="stylesheet" href="./home.css" type="text/css">
<h1>Rest Api instruction</h1>
<div class="container">
<h4> Home<h2> http://localhost:8080/</h2></h4>
<h4> Getting student details <h2>(Get)http://localhost:8080/student</h2></h4>
<h4> Pushing data to mongodb <h2>(Post)http://localhost:8080/student</h2></h4>
<h4> Updating existing one to mongodb <h2>(Put)http://localhost:8080/student/update</h2></h4>
<h4> Deleting data to mongodb <h2>(Delete)http://localhost:8080/student/(id)</h2></h4>
</div>